.events-wrap li{
    list-style: none;
    margin-bottom: 20px;
}
.event-title,
.event-organizer span,
.event-address span{
    font-weight: bold;
}
.event-time{
    font-style: italic;
}
.page-numbers{
    margin-top: 30px;
}
.page-numbers li a,
.page-numbers li a:hover,
.page-numbers li.active a,
.page-numbers li.disabled {
    color: #000000;
    text-decoration:none;
}

.page-numbers li {
    display: inline;
}

.page-numbers li a,
.page-numbers li a:hover,
.page-numbers li.active a,
.page-numbers li.disabled {
    background-color: #dddddd;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
}

.page-numbers li a:hover,
.page-numbers li.active a {
    background-color: #aaaaaa;
}